@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Gaegu&family=Open+Sans&display=swap");

body {
  background: radial-gradient(circle, rgba(48,48,48,1) 0%, rgba(22,22,22,1) 88%, rgba(0,0,0,1) 100%);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 100vh;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
}

h2 {
  color: lavenderblush;
}

h2,
h3 {
  font-family: 'Gaegu', cursive;
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
}

h3 {
  color: powderblue;
  margin-top: 60px;
}

ul {
  line-height: 2;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: blanchedalmond;
}
